[Desktop Entry]
Encoding=UTF-8
Name=snarkcoin
Comment=snarkcoin P2P Cryptocurrency
Comment[fr]=snarkcoin, monnaie virtuelle cryptographique pair à pair
Comment[tr]=snarkcoin, eşten eşe kriptografik sanal para birimi
Exec=snarkcoin-qt %u
Terminal=false
Type=Application
Icon=snarkcoin128
MimeType=x-scheme-handler/snarkcoin;
Categories=Office;Finance;
